<h1>Christopher's Library</h1>
<p>Currently at <%= @movie_count %> movies!
<!-- <p><%= link_to 'Add new movie', search_path %>

<p><%= link_to 'Know the IMDb ID?', searchByID_path %> -->

<%= render 'christopher_results' %>
