<h1>Search</h1>

<form id="search_form" method="get">
  <input type="text" name="keyword" class="searchbox" placeholder="Search the OMDb API"></input>
  <button type="submit" value="submit" class="btn btn-default">Submit</button>
</form>

<div id=searchResults>
</div>
